.sidebar-wrapper {
    width: 224px;
    background-color: var(--secondary);
    color: #fff;
    padding: 16px 10px;
}

.logo-wrapper {
    border-radius: 4px;
}

.logo {
    height: 40px;
    width: 40px;
}

.sidebar-item.active {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.10);
}

.credits {
    background: rgba(255, 255, 255, 0.1);
    padding-block: 6px;
}

.icon-boundary {
    padding: 6px;
    background: rgba(255, 255, 255, 0.10);
    width: fit-content;
}